body {
    margin: 0;
    padding: 0;
    background: #fafafa;
}

a {
    color: rgb(63, 114, 216);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.content-container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding: 0 20px 0 20px;
    background: white;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
}

.content-container h1 {
    font-family: 'Droid Sans', sans-serif;
    font-size: 32px;;
    font-weight: 500;
}

.ui.segment {
    box-shadow: none;
}

.ui.segment.item {

}

.menu-container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}