{% extends "site_base.html" %}

{% block content %}
    {% if not user.is_authenticated %}
        {{ state }}
        <form action="/main/login" method="post">
            {% csrf_token %}
            <div class="ui form segment">
                <div class="field">
                    <label>Användarnamn</label>
                    <div class="ui left labeled icon input">
                        <input type="text" name="username" placeholder="Användarnamn" value="{{ username}}">
                        <i class="user icon"></i>
                        <div class="ui corner label">
                            <i class="icon asterisk"></i>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Lösenord</label>
                    <div class="ui left labeled icon input">
                        <input type="password" name="password">
                        <i class="lock icon"></i>
                        <div class="ui corner label">
                            <i class="icon asterisk"></i>
                        </div>
                    </div>
                </div>
                <div class="ui error message">
                    <div class="header">Något av det du skrev in var fel.</div>
                </div>
                <input type="submit" class="ui blue submit button" value="Logga in" />
            </div>
            {% if error %}
                <div class="error">{{ error }}</div>
            {% endif %}
        </form>
    {% else %}
        <p>Du kan inte logga in eftersom du redan är inloggad!</p>
    {% endif %}
{% endblock %}