{% extends "site_base.html" %}

{% block content %}
    <div class="ui large form segment">
        <table class="ui large table segment">
            <thead>
            <tr>
                <th>Användarnamn</th>
                <th>Namn</th>
                <th>E-post</th>
                <th>Telefonnummer</th>
                <th>Adress</th>
                <th>Aktiverad</th>
            </tr>
            </thead>
            <tbody>
            {% if users %}
                {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.first_name }} {{ user.last_name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.profile.phone }}</td>
                        <td>{{ user.profile.address }}</td>
                        <td>{% if user.is_active %} Ja {% else %} Nej {% endif %}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
            <tfoot>
            <tr><th>Totalt {{ total_users }} användare</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr></tfoot>
        </table>
    </div>
{% endblock %}