{% extends "site_base.html" %}

{% block content %}
    <h1>Hej och välkommen till bostadsrättsföreningen Stavgränds hemsida.</h1>
    <p>Här finns ännu inget då sidan är under utveckling.</p>
    <p>Var god kom tillbaka senare!</p>
{% endblock %}