{% extends "site_base.html" %}

{% block content %}
    <div class="two column stackable ui grid">
        {% if latest_posts %}
            {% for post in latest_posts %}
                <div class="column">
                    <div class="ui segment item">
                        <h1><a href="/posts/{{ post.id }}">{{ post.topic }}</a></h1>
                        <p>{{ post.content | linebreaks }}</p>
                        <p>Publicerad den: <i>{{ post.pub_date }}</i> {% if post.was_published_recently %} (nyligen publicerad) {% endif %}</p>
                    </div>
                </div>
                <div class="column">
                    <div class="ui segment">
                        <div class="ui comments">
                            {% if post.comments %}
                                {% for comment in post.comments %}
                                    <div class="comment">
                                        <div class="content">
                                            {% if comment.user.first_name and comment.user.last_name %}
                                                <a class="author">{{ comment.user.first_name }} {{ comment.user.last_name }}</a> ({{ comment.user.username }})
                                            {% else %}
                                                <a class="author">{{ comment.user.username }}</a>
                                            {% endif %}
                                            <div class="metadata">
                                                <span class="date">{{ comment.pub_date }}</span>
                                            </div>
                                            <div class="text">
                                                {{ comment.content | linebreaks}}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h1>Inga inlägg kunde hittas. :(</h1>
        {% endif %}
    </div>
{% endblock %}