{% extends "site_base.html" %}

{% block content %}
    <form method="post" action="/main/me" class="ui large form segment" id="mefrm">{% csrf_token %}
        {% if me %}
            {% if success %}
                <div class="ui green message"><i class="thumbs up icon"></i>{{ success }}</div>
            {% endif %}
            {% if error %}
                    <div class="ui green message"><i class="thumbs down icon"></i>{{ error }}</div>
            {% endif %}
            <div class="three fields" id="info">
                <div class="field" id="first_name">
                    <label>Förnamn</label>
                    <input placeholder="Förnamn" type="text" name="first_name" value="{{ me.first_name }}">
                </div>
                <div class="field" id="last_name">
                    <label>Efternamn</label>
                    <input placeholder="Efternamn" type="text" name="last_name" value="{{ me.last_name }}">
                </div>
                <div class="field" id="email">
                    <label>E-post</label>
                    <input placeholder="min.epost@gmail.com" type="text" name="email" value="{{ me.email }}">
                </div>
            </div>
            <div class="two fields" id="login">
                <div class="field" id="username">
                    <label>Användarnamn</label>
                    <input placeholder="Användarnamn" type="text" name="username" value="{{ me.username }}">
                </div>
                <div class="field" id="password">
                    <label>Lösenord (om du inte vill ändra lösenord, var god lämna blankt)</label>
                    <input placeholder="Lösenord" type="password" name="password">
                </div>
            </div>
            <div class="two fields" id="login">
                <div class="field" id="telefon">
                    <label>Telefonnummer</label>
                    <input placeholder="Ex. 070-123123" type="text" name="phone" value="{{ profile.phone }}">
                </div>
                <div class="field" id="address">
                    <label>Adress</label>
                    <input placeholder="ex. Stavgränd 16" type="text" name="address" value="{{ profile.address }}">
                </div>
            </div>
            <input type="submit" name="submit" class="ui blue submit button" value="Spara" />
        {% else %}
            <h2>Det är något knas med din användare, var god kontakta en administratör.</h2>
        {% endif %}
    </form>
{% endblock %}