{% extends "site_base.html" %}

{% block content %}
    <div class="ui one column grid">
        <div class="column">
            <a href="#message" class="ui small button">Skriv meddelande</a>
            <br /><br />
            <div class="ui comments">
                {% if messages %}
                    {% for message in messages %}
                        <div class="comment">
                            <div class="content">
                                {% if message.user.first_name and message.user.last_name %}
                                    <a class="author">{{ message.user.first_name }} {{ message.user.last_name }}</a> ({{ message.user.username }})
                                {% else %}
                                    <a class="author">{{ message.user.username }}</a>
                                {% endif %}
                                <div class="metadata">
                                    <span class="date">{{ message.pub_date }}</span>
                                </div>
                                <div class="text">
                                    {{ message.content |linebreaks }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h2>Här kan du diskutera saker så att alla inloggade kan se, ingen har skrivit något än dock.</h2>
                {% endif %}
            </div>
        </div>
    </div>

    <form method="post" action="/main/discuss" class="ui large form segment">{% csrf_token %}
        <div class="field" id="message">
            <label>Ditt meddelande</label>
            <textarea name="content"></textarea>
        </div>
        <input type="submit" name="submit" class="ui blue submit button" value="Skicka" />
    </form>
{% endblock %}