{% extends "site_base.html" %}

{% block content %}
    <div class="two column stackable ui grid">
        {% if post %}
            <div class="column">
                <div class="ui segment item">
                    <h1>{{ post.topic }}</h1>
                    <p>{{ post.content | linebreaks }}</p>
                    <p>Publicerad den: <i>{{ post.pub_date }}</i> {% if post.was_published_recently %} (nyligen publicerad) {% endif %}</p>
                </div>
            </div>
            <div class="column">
                <div class="ui segment">
                    <div class="ui comments">
                        {% if comments %}
                            {% for comment in comments %}
                                <div class="comment">
                                    <div class="content">
                                        {% if comment.user.first_name and comment.user.last_name %}
                                            <a class="author">{{ comment.user.first_name }} {{ comment.user.last_name }}</a> ({{ comment.user.username }})
                                        {% else %}
                                            <a class="author">{{ comment.user.username }}</a>
                                        {% endif %}
                                        <div class="metadata">
                                            <span class="date">{{ comment.pub_date }}</span>
                                        </div>
                                        <div class="text">
                                            {{ comment.content | linebreaks}}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <h2>Bli den första att kommentera!</h2>
                        {% endif %}
                        <br />
                        {% if user.is_authenticated %}
                            <form action="/posts/add_comment/{{ post.id }}/" method="post">{% csrf_token %}
                                <div class="ui form">
                                    <h3>Skriv en kommentar!</h3>
                                    <div class="field"><textarea name="content"></textarea></div>
                                </div>
                                <div id="submit"><input type="submit" class="ui blue small submit button" value="Skicka kommentar"></div>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% else %}
            <h1>Hittade inte inlägget du sökte efter, detta borde aldrig hända.</h1>
        {% endif %}
    </div>
{% endblock %}