<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <title>Bostadsrättsföreningen Stavgränd</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" type="text/css" href="/static/css/semantic.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/app.css" />
    <!--<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'> -->
</head>
<body>

<div class="ui menu">
    <div class="menu-container">
        <a class="item" href="/main/">
            <i class="home icon"></i> Startsida
        </a>
        <a class="item" href="/posts/latest">
            <i class="bullhorn icon"></i> Nyheter
        </a>
    {% if user.is_authenticated %}
        <a class="item" href="/main/contact">
            <i class="users icon"></i> Kontaktuppgifter
        </a>
        <a class="item" href="/main/discuss">
            <i class="chat icon"></i> Diskutera
        </a>
        {% if request.session.is_styrelse or request.session.is_admin %}
            <a class="red item">
                <i class="info icon"></i> Styrelse-information
            </a>
        {% endif %}
    {% endif %}
    <div class="right menu">
        {% if user.is_authenticated %}
            <a class="item" href="/main/me">
                <i class="user icon"></i> {{ user.username }}
            </a>
            <a class="item" href="/main/logout">
                <i class="sign out icon"></i> Logga ut
            </a>
        {% else %}
            <a class="item" href="/main/login">
                <i class="sign in icon"></i> Logga in
            </a>
        {% endif %}
    </div>
    </div>
</div>

<div class="content-container">
    {% block content %}{% endblock %}
</div>
<script src="/static/javascript/jquery.min.js"></script>
<script src="/static/javascript/semantic.min.js"></script>
</body>
</html>